:root {
    --dark-gray: #111;
    --dark-green: #3c7c5c;
    --mint-green: #a1d6b8;
    color: whitesmoke;
}

body {
    background-color: var(--dark-gray);
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
        linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
        linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
        radial-gradient(rgb(31, 28, 28) 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
}

.container {
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-green);
    border: 5px solid whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 25vh;
}

.text-input-container {
    position: relative;
}

.text-input {
    margin-bottom: 10px;
    width: 300px;
    padding: 5px;
}

#copy-button {
    position: absolute;
    right: -80px;
    top: 2px;
}

.block-selection {
    pointer-events: none;
}

.button-container {
    margin-top: 10px;
}

.button {
    margin: 0 5px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: whitesmoke;
}

.button:hover {
    cursor: pointer;
    background-color: var(--mint-green);
}